:root {
    --w: 100vw;
    --h: 100vh;
    --bg: floralwhite;
}

.wrapper, #page-wrapper {
    width: var(--w);
    height: var(--h);
    overflow: hidden;
}

.page-table {
    width: var(--w);
    height: calc(9999 * var(--h));
}

.page-table::before {
    content: " ";
    background-color: black;
    box-shadow: 32px 0px 20px 12px black;
    transform: translate(-64px, 0);
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
}

.page-row {
    width: calc(9999 * var(--w));
    height: var(--h);
}

.page-cell, .page-inner, .page-empty {
    display: inline-block;
    width: var(--w);
    height: var(--h);
    vertical-align: top;
    text-align: center;
}

.subpage {
    display: none;
}

/*************************/

body {
    background-color: var(--bg);
}

p {
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Poppins', 'Noto Sans KR', 'Nanum Barun Gothic', 'dotum' , sans-serif;
}